.container {
    text-align: center;
}

.input_div {
    font-size: large;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(184, 240, 240);
    margin-top: 20px;
}

.input_tag {
    font-size: large;
    border-radius: 25px;
    padding: 10px;
}

.qr_div {
    width: 300px;
    height: 260px;
    padding: 20px;
    background-color: #3bb19b;
    margin: auto;
}